* {
    margin: 0;
    padding: 0;
}

:root {
    --nav-ht: 94.8px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    background: linear-gradient(90deg, #07233b 1.67%, #041d34 39.95%, #04192d 58.24%, #040e18 80.28%, #050c16 101.48%);
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    transition: all .35s ease;
}

.container {
    width: 85vw;
    max-width: 1320px;
    height: 5.925em;
    color: #fff;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

nav.scrolled {
    background-color: black;
}

main {
    margin-top: 150px;
}

.container > div {
    display: flex;
}

.container > div > a {
    font-size: 35px;
    font-weight: 900;
}

.container > div > ul {
    padding-right: 50px;
    display: flex;
    align-items: center;
}

.container > div > ul > li {
    padding: 0px 20px;
    list-style-type: none;
}

.container > div > ul > li > a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 0;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.container > div > button {
    background-color: #0788ff;
    border-radius: 40px;
    border: 2px solid #0788ff;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    padding: 17px 30px;
    transition: all .35s ease;
}

.container > div > button > a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.container > div > button:hover {
    background-color: #000;
    border: 2px solid #fff;
}

.hamburger {
    background-color: transparent;
    border: 1px solid hsla(0, 0%, 100%, .2);
    border-radius: 5px;
    color: #fff;
    height: 40px;
    line-height: 1;
    margin: 0 15px;
    padding: 0 25px;
    position: relative;
    display: none !important;
}

.hamburger > span {
    bottom: 0;
    box-shadow: 0 0 0 1px currentColor, 0 -7px 0 1px currentColor, 0 7px 0 1px currentColor;
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 17px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    width: 85vw;
    margin: 0 auto;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right > img {
    border-radius: 5px;
    height: 90%;
}

.left {
    width: 50%;
    color: #fff;
    padding-top: 125px;
}

.left > span, h1, h2 {
    text-transform: uppercase;
}

.left > h1 {
    margin-bottom: 8px;
    margin-top: 10px;
    font-size: 70px;
}

.left > :first-child {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #0788FF33;
    border-radius: 4px;
    padding: 5px 12px;
}

.left > h2 {
    display: inline;
    font-size: 70px;
}

#check {
    display: none;
}

#break {
    display: none;
}

#element, .left > h2 {
    color: #0788ff;
    font-size: 70px;
    font-weight: bold;
}

.typed-cursor {
    font-size: 70px;
    color: #0788ff;
    font-weight: bold;
}

.left > p {
    margin-top: 30px;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 150%;
}

.in-touch-btn {
    align-items: center;
    background-color: #0788ff;
    border: 2px solid #0788ff;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    padding: 16px 30px;
    transition: all .35s ease;
    min-width: fit-content;
}

.in-touch-btn:hover {
    background-color: #040c16;
    border: 2px solid #fff;
    border: 2px solid #fff;
}

.in-touch-btn > a {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
}

.hero-icons {
    padding-left: 24px;
    min-width: fit-content;
}

.hero-icons > button {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 8px;
    border: 2px solid #fff;
}

.fa-brands {
    font-size: 26px;
    color: white;
}

.hero-icons > :nth-child(1) {
    background-color: #0788ff;
}

.hero-icons > :nth-child(2) {
    background-color: #000;
}

.hero-icons > :nth-child(3) {
    background-color: #1275b1;
}

.left > :last-child {
    display: flex;
    padding-top: 15px;
}

.first-sec {
    padding-bottom: 45px;
}

.hor-bar {
    background: rgba(7, 136, 255, 0.1);
    padding: 24px 0px;
}

.hor-bar > div {
    max-width: 1320px;
    width: 85vw;
    height: 90px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.hor-bar > div > span {
    width: 270px;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#next {
    filter: invert();
}

.container-2 {
    max-width: 1320px;
    width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#effect-1 {
    position: relative;
    right: 122px;
    bottom: 270px;
    animation: rotate 40s linear infinite;
}

#effect-2 {
    position: relative;
    left: 774px;
    bottom: 826px;
    animation: -rotate 40s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes -rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.left-2 {
    width: 40%;
    height: 644px;
}

.left-2 > :first-child {
    background: linear-gradient(180deg,rgba(29, 50, 70, 1) 0%, rgba(29, 50, 70, 1) 100%);
    border-radius: 30px;
    /* height: 644px; */
    width: 528px;
    z-index: 1;
    position: relative;
}

.second-sec {
    padding: 100px 0px;
}

.right-2 {
    color: #fff;
    margin-top: 48px;
    padding: 0px 48px;
    height: 100%;
    width: 35%;
}

.right-2 > :first-child {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #0788FF33;
    border-radius: 4px;
    padding: 5px 12px;
}

.right-2 > h2 {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 40px;
}

.right-2 > h2 > span {
    color: #0788ff;
}

.right-2 > p {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 400;
    word-spacing: 2px;
    line-height: 1.6;
}

.right-2 > div > div {
    /* height: 117px; */
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 8px;
}

.right-2 > div {
    display: flex;
    padding-top: 15px;
    padding-bottom: 45px;
}

.right-2 > div > :nth-child(1) {
    width: 112px;
}

.right-2 > div > :nth-child(2) {
    width: 125px;
    margin-left: 10px;
}

.right-2 > div > :nth-child(3) {
    width: 121px;
    margin-left: 10px;
}

.right-2 > div > div > h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
}

.right-2 > div > div > label {
    text-transform: capitalize;
    font-size: 13px;
}

.right-2 > button {
    align-items: center;
    background-color: #0788ff;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    justify-content: center;
    text-transform: uppercase;
    border: 2px solid #0788ff;
    border-radius: 40px;
    padding: 13px 30px;
    transition: 0.35s;
}

.right-2 > button > a {
    cursor: pointer;
    text-decoration: none;
}

.right-2 > button:hover {
    background-color: #000;
    border-color: #fff;
}

.btn-2 {
    padding: 20px 30px !important;
}

.third-sec {
    background: rgba(7, 136, 255, .1);
    padding: 100px 0px;
}

.container-3, .container-4, .container-5 {
    color: #fff;
    max-width: 1320px;
    width: 85vw;
    margin: 0 auto;
}

.container-5 {
    place-items: center;
}

.container-3 > :first-child {
    margin-bottom: 45px;
}

.container-3 > :first-child > :first-child {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #0788FF33;
    border-radius: 4px;
    padding: 5px 12px;
}

.container-3 > :first-child > h2 {
    margin-top: 10px;
    font-size: 40px;
}

.container-3 > :last-child {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 40px;
    width: 100%;
}

.container-3 > :last-child::-webkit-scrollbar {
    height: 8px;
}

.container-3 > :last-child::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg,rgba(7, 136, 255, 1) 0%, rgba(160, 7, 255, 1) 100%);
    border-radius: 4px;
}

.container-3 > :last-child > div {
    min-width: 392px;
    height: 375px;
    background-color: #fff;
    padding: 14px;
    margin: 0px 12px;
    border-radius: 10px;
}

.card > :first-child {
    border-radius: 8px;
    overflow: hidden;
}

.card > :first-child > img {
    max-width: 100%;
    border-radius: 8px;
    vertical-align: center;
    transition: all .35s ease-in-out;
}

.card > :last-child {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px 0px 5px;
}

.card > :last-child > div > h5 {
    color: #040c16;
    font-size: 20px;
    margin-bottom: 5px;
}

.card > :last-child > div > span {
    color: #707476;
}

.btn-3 {
    height: 50px !important;
    width: 50px !important;
    padding: 0 !important;
    border: 2px solid #000 !important;
}

.btn-3 > i {
    font-size: 15px;
}

.fourth-sec {
    padding: 100px 0px;
}

.container-4 > :first-child > span {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #0788FF33;
    border-radius: 4px;
    padding: 5px 12px;
}

.container-4 > :first-child > h2 {
    font-size: 40px;
    margin-top: 10px;
}

.container-4 > :first-child > h2 > span {
    color: #0788ff;
}

.container-4 > :last-child {
    display: grid;
    grid-template-columns: 330px 330px 330px 330px ;
}

.card-2 {
    max-width: 306px;
    display: flex;
    flex-direction: column-reverse;
    height: 412px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 48px 12px 0px 12px;
}

#card-2-img-1 {
    background-image: url("./assets/service-01.jpg");
}

#card-2-img-2 {
    background-image: url("./assets/service-02.jpg");
}

#card-2-img-3 {
    background-image: url("./assets/service-03.jpg");
}

#card-2-img-4 {
    background-image: url("./assets/service-04.jpg");
}

.card-2 > div {
    height: 50%;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: linear-gradient(180deg, rgba(4, 12, 22, 0), #040c16);
}

.card-2 > div > :first-child {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0788ff;
    border-radius: 4px;
    margin-bottom: 20px;
}

.card-2 > div > h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
}

.card-2 > div > p {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 15px;
}

.card-2 > div > :last-child {
    color: #ffc107;
}

.fifth-sec {
    padding: 100px 0px;
    background: #072D4F;
    background: linear-gradient(90deg,rgba(7, 45, 79, 1) 0%, rgba(5, 26, 47, 1) 100%);
}

.container-5 > :first-child > span {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #0788FF33;
    border-radius: 4px;
    padding: 5px 12px;
}

.container-5 > :first-child > h2 {
    font-size: 40px;
    margin-top: 10px;
}

.container-5 > :first-child > h2 > span {
    color: #0788ff;
}

.container-5 > :first-child {
    margin-bottom: 45px;
}

.work-row {
    place-items: center;
}

.row-card {
    display: flex;
    background: rgba(7, 136, 255, .1);
    border-radius: 10px;
    padding: 25px;
    margin: 15px 0px;
}

.row-left {
    width: 20%;
    height: 100%;
    margin: 0px 12px;
    padding: 20px;
    background-color: #0788ff;
    border-radius: 8px;
}

.row-left > h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.row-left > span {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.8;
}

.row-left > p {
    font-weight: 400;
    margin-bottom: 15px;
}

.row-left > button {
    background-color: #fff;
    border: none;
    border-radius: 30px;
    color: #040c16;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    padding: 8px 16px;
}

.row-right {
    width: 75%;
    padding: 0px 12px;
}

.row-right > h5 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 8px;
}

.row-right > p {
    opacity: 0.8;
    line-height: 1.4;
}

.sixth-sec {
    padding-top: 100px;
}

.container-6 {
    max-width: 1320px;
    width: 85vw;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

.container-6 > :first-child {
    width: 346px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}

.container-6 > :first-child > span {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #0788FF33;
    border-radius: 4px;
    padding: 5px 12px;
}

.container-6 > :first-child > h2 {
    font-size: 40px;
    margin-top: 10px;
}

.container-6 > :first-child > h2 > span {
    color: #0788ff;
}

.container-6 > :last-child {
    margin: 0 auto;
    max-width: 780px;
    text-align: center;
}

.container-6 > :last-child > :nth-child(2) {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
    line-height: 1.5;
}

.container-6 > :last-child > p {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.container-6 > :last-child > span {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.5;
    text-align: center;
    padding-bottom: 46px;
}

.container-6 > :last-child > img {
    height: 114px;
    width: 114px;
    border: 4px solid gray;
    border-radius: 50%;
    margin-bottom: 30px;
}

.seventh-sec {
    padding: 100px 0px;
}

.left-3 {
    padding: 48px;
    background: linear-gradient(90deg,rgba(7, 45, 78, 1) 0%, rgba(5, 26, 47, 1) 100%);
}

.left-3 > div > h5 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
}

.left-3 > div > p {
    font-size: 17px;
    font-weight: 400;
    max-width: 550px;
    opacity: .85;
}

.left-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.left-3 > div {
    width: 67%;
}

.container-7 {
    color: #fff;
    max-width: 1296px;
    width: 78vw;
    margin: 0 auto;
    border: 1px solid rgba(7, 136, 255, .2);
    border-radius: 6px;
}

.right-3 {
    padding: 48px;
    background: linear-gradient(90deg,rgba(6, 54, 95, 1) 0%, rgba(5, 37, 68, 1) 100%);
    display: flex;
    justify-content: space-between;
}

.right-3-1 {
    width: 30%;
}

.right-3-1 > :nth-child(1) {
    position: relative;
    bottom: 178px;
    width: 308px;
    height: 240px;
}

.right-3-1 > :nth-child(1) > img {
    width: 100%;
    background: radial-gradient(circle,rgba(5, 33, 57, 1) 0%, rgba(2, 3, 8, 1) 100%);
    border-radius: 26px;
}

.right-3-1 > :nth-child(2) {
    padding-top: 20px;
    padding-bottom: 40px;
}

.right-3-1 > :nth-child(2) > div {
    padding-top: 20px;
}

.right-3-1 > :nth-child(2) > div > div {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 2px;
    opacity: .75;
    text-transform: uppercase;
}

.right-3-1 > :nth-child(2) > div > a {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}

.last-hero-icons {
    padding: 0px;
}

.right-3-2 {
    width: 67%;
}

.right-3-2 > :nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-3-2 > :nth-child(1) > div, .right-3-2 > :nth-child(2), .right-3-2 > :nth-child(3) {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.right-3-2 div > label, .right-3-2 > :nth-child(3) > textarea {
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 4px;
    opacity: .85;
    text-transform: uppercase;
}

.right-3-2 div > input {
    background: hsla(0, 0%, 100%, .05);
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 6px;
    box-shadow: none;
    padding: 9.2px 12px;
}

.right-3-2 > :nth-child(3) > textarea {
    background: hsla(0, 0%, 100%, .05);
    border: 1px solid hsla(0, 0%, 100%, .15);
    border-radius: 6px;
    box-shadow: none;
    padding: 9.2px 12px;
    width: 96.5%;
}

.right-3-2 > :nth-child(1) > div {
    width: 49%;
}

.send-msg-btn {
    width: 100%;
    margin-top: 24px;
}

footer {
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    padding-bottom: 20px;
    padding-top: 20px;
    color: hsla(0, 0%, 100%, .75);
}

.container-8 {
    text-align: center;
    font-size: 14px;
}

@media (max-width: 1536px) {
    .container-3 > :last-child {
        width: 91.5vw;
    }

    #effect-2 {
        left: 700px;
        bottom: 834px;
    }

    .left-2 > :first-child {
        width: 500px;
    }
}

@media (max-width: 1452px) {
    #effect-2 {
        left: 958px;
        bottom: 1000px;
    }
}

@media (max-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    .container-4 > :last-child {
        grid-template-columns: 285px 285px 285px 285px;
        align-items: center;
        justify-content: center;
    }

    .card-2 {
        width: 261px;
    }

    .container-7 {
        width: 1114px;
    }
    
    .right-3-1 > :nth-child(1) {
        width: 291px;
    }

    .right-3-1 > :nth-child(2), .right-3-1 > :nth-child(2) > div {
        padding-top: 0px;
    }

    #effect-2 {
        left: 958px;
        bottom: 1000px;
    }
}

@media (max-width: 1366px) {
    .left > h1, .left > h2, #element, .typed-cursor {
        font-size: 60px;
    }

    .left-2 {
        height: 580px;
    }

    .container-2 {
        gap: 20px;
    }

    .left-2 > :first-child {
        width: 451px;
    }

    .right-2 {
        margin-top: 0px;
        width: 384px;
    }

    .right-3-1 > :nth-child(2) > div {
        padding-top: 20px;
    }

    #effect-2 {
        left: 863px;
        bottom: 1000px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .container-2 {
        gap: 70px;
    }

    .left > h1, .left > h2, #element, .typed-cursor {
        font-size: 45px;
    }

    .left > p {
        font-size: 18px;
    }

    .right > img {
        width: 380px;
    }

    .container-4 > :last-child {
        grid-template-columns: 240px 240px 240px 240px;
    }

    .card-2 {
        width: 216px;
        height: 450px;
    }

    .row-card {
        width: 886px !important;
    }

    .container-7 {
        width: 934px;
    }

    .right-3-1 > :nth-child(1) {
        width: 231px;
        height: 146px;
    }

    .right-3-1 > :nth-child(2) > div > a {
        font-size: 18px;
    }

    .right-3-1 > :nth-child(2) > div {
        padding-top: 30px;
    }

    #effect-2 {
        left: 765px;
        bottom: 982px;
    }

    #effect-1 {
        right: 15px;
        bottom: 250px;
    }
}

@media (max-width: 1024px) {
    .container > div > ul {
        padding-right: 20px;
    }

    .container-2 {
        gap: 80px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 96vw;
        max-width: 960px;
    }

    .container > div > button {
        display: none;
    }
    
    .menu {
        display: none !important;
    }

    #check:checked ~ .menu {
        display: block !important;
    }

    .menu {
        width: 100vw;
        height: 13.2em;
        position: fixed;
        top: var(--nav-ht);
        left: 0px;
        background-color: #040c16;
        padding: 10px 20px;
    }

    .menu > ul {
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        align-items: start !important;
    }
    
    .menu > ul > li {
        padding: 8px 0px;
        list-style-type: none;
    }
    
    .menu > ul > li > a {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 8px 0;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
    }

    .hamburger {
        display: block !important;
    }

    .main-container {
        flex-direction: column;
    }
    
    .left {
        padding-top: 0px;
        width: 100%;
    }
    
    .first-sec {
        padding: 0px;
    }

    .container-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #effect-1, #effect-2 {
        display: none;
    }

    .left-2, .right-2 {
        width: 100%;
    }

    .left-2 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
    }

    .right-2 {
        width: 87%;
        padding: 0px;
    }

    .second-sec, .third-sec, .fourth-sec, .sixth-sec, .seventh-sec {
        padding: 60px 0pc;
    }

    .fifth-sec {
        padding: 80px 0px;
    }

    .container-3 > :first-child > h2, .container-4 > :first-child > h2 {
        font-size: 35px;
    }

    .container-4 > :last-child {
        grid-template-columns: 360px 360px;
        grid-template-rows: 481px 481px;
        place-items: center;
    }
    
    .card-2 {
        max-width: 336px;
        width: 100%;
    }

    .row-left {
        width: 188px;
    }

    .row-card {
        width: 646px !important;
    }

    .container-5 > :first-child {
        width: 696px;
    }

    .right-3-1 > :nth-child(1) {
        display: none;
    }

    .left-3 {
        align-items: flex-start;
        padding: 24px;
    }
    
    .left-3 > div {
        width: 100%;
    }
    
    .right-3 {
        flex-direction: column-reverse;
        padding: 24px;
    }
    
    .right-3 > div {
        width: 100%;
    }

    .container-7 {
        width: 694px;
    }

    .right-3-1 > :nth-child(2) {
        padding-top: 20px;
    }

    .right-3-1 > :nth-child(2) > div > a {
        font-size: 22px;
    }

    .right {
        width: 100%;
    }

    .right > img {
        max-width: 100%;
        height: auto;
    }

    .left-2 > :first-child {
        max-width: 100%;
        max-height: auto;
    }
}

@media (max-width: 768px) {
    :root {
        --nav-ht: 80px;
    }

    .container {
        height: var(--nav-ht);
    }

    .container-4 > :last-child {
        grid-template-columns: 270px 270px;
    }

    .card-2 {
        width: 246px;
    }

    .container-5 > :first-child > h2 {
        font-size: 35px;
    }

    .row-card {
        max-width: fit-content;
        width: 460px !important;
        flex-direction: column;
    }

    .row-left, .row-right {
        width: 88%;
    }

    .row-left {
        margin-bottom: 25px;
    }

    .container-5 > :first-child {
        width: 516px;
    }

    .container-6 > :first-child > h2 {
        font-size: 35px;
    }

    .container-7 {
        width: 540px;
    }

    .left-3 > div > h5 {
        font-size: 32px;
    }

    .right-3-2 > :nth-child(1) {
        flex-direction: column;
    }

    .right-3-2 > :nth-child(1) > div {
        width: 100%;
    }

    .right-2 {
        width: 88%;
        padding: 0px 12px;
    }
}

@media (max-width: 576px) {
    :root {
        --nav-ht: 70px;
    }

    .container {
        height: var(--nav-ht);
    }

    .left > :last-child {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    
    .btn-1 {
        width: 100%;
    }

    .left-2 > img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        vertical-align: middle;
    }

    .container > div > a {
        margin-left: 15px;
    }

    .container-4 > :last-child {
        grid-template-columns: 100%;
        grid-template-rows: 451px 451px 451px 451px;
    }    
    
    .card-2 {
        max-width: 100%;
        width: 100%;
        height: 392.6px;
    }

    .row-left, .row-right {
        width: 85%;
    }

    .container-5 > :first-child {
        width: 100%;
    }

    .container-6 > :first-child {
        width: 100%;
    }

    .container-7 {
        width: 95%;
    }

    .right-2 {
        width: 100%;
        padding: 0px;
    }

    .right-2 > div {
        flex-wrap: wrap;
    }

    .right-2 > div > :nth-child(3) {
        margin-left: 0px;
        margin-top: 10px;
        width: 113px;
    }
}

@media (max-width: 440px) {
    #break {
        display: block;
    }
}

@media (max-width: 400px) {
    .row-left, .row-right {
        width: 80%;
    }

    .right-2 > div  div {
        width: 100% !important;
    }

    .right-2 > div > :nth-child(2) {
        margin-left: 0px;
        margin-top: 10px;
    }

    .right-3-1 > :nth-child(2) > div > a {
        overflow-wrap: anywhere;
    }
}